<% layout("layouts/boilerplate") %>
<body>
    <div class="about col-md-8">
    <h4>About me:</h4>
    <br>
  <p>Hi, I am Vatan Kumar Pathak, a Computer Science student
     currently pursuing B.Tech in Data Science at Vignan 
     Institute of Information Technology. I am passionate 
     about web development and enjoy building modern web 
     applications. I am currently learning the MERN stack 
     and continuously improving my programming and problem-
     solving skills by working on real-world projects</p>
     <br>
     <br>
     <h4>EDUCATION :</h4>
     <br>
     <p>I completed my school education at Sri Chaitanya Techno School, where I developed a strong foundation in science and mathematics.
I pursued my Intermediate education at Aakash Institute, where I focused on strengthening my analytical and problem-solving abilities.

Currently, I am pursuing B.Tech in Computer Science with a specialization in Data Science from Vignan Institute of Information Technology. During my studies, I have been learning programming, web development, and software development concepts while building practical projects.</p>
<br>
<br>     
<h4>Experience/ Internship :</h4>  
<br>
<p>I am currently working as a Full Stack Web Development Intern at Future Interns. During this internship, I am building real-world projects such as a professional portfolio website and improving my understanding of full stack development concepts. This experience is helping me strengthen my knowledge of modern web technologies and practical development workflows.</p>  
<br>
<br>
<h5>Download Resume <p> <a href="/css/vatan_kumar_pathak_resume.pdf" download target="_blank"><button class="btn btn-warning">Download</button></a></p></h5>
</div>

</body>
