<% layout("layouts/boilerplate") %>
<body>
    <div class="container mt-5">

<h1 class="text-center">My Project</h1>

<p class="text-center mt-3">
Here is a project I have worked on to improve my web development skills.
</p>

<div class="row mt-5 justify-content-center">

<div class="col-md-6 ">
<div class="card shadow">

<img src="/css/airbnb.jpeg" class="card-img-top">

<div class="card-body">
<h5 class="card-title">Airbnb Clone</h5>

<p class="card-text">
A full stack web application built using Node.js, Express, and MongoDB. 
This project allows users to create and manage property listings.
</p>

<a href="https://github.com/vatan-apk/MajorProject" target="_blank"  class="btn btn-dark">GitHub</a>

<a href="https://majorproject-ftl7.onrender.com" target="_blank"  class="btn btn-success">Live Demo</a>

</div>
</div>
</div>



</div>

</div>
</body>
