<% layout("layouts/boilerplate") %>
<body>
    <div class="container">
        <div class="row align-items-center">
            <h1 class="text-center">My Technical Skills</h1>

<p class="text-center mt-6">
I enjoy learning modern web technologies and building full stack web applications.
</p>
<div class="row mt-5">
            <div class="col md-3">
<h4>Frontend Development</h4>
<p>Building responsive user interfaces.</p>
<ul>
<li>HTML</li>
<li>CSS</li>
<li>Bootstrap</li>
<li>JavaScript</li>
</ul>
            </div>
            <div class="col-md-3">
<h4>Backend Development</h4>
<p>Developing server-side applications.</p>
<ul>
<li>Node.js</li>
<li>Express.js</li>
</ul>
</div>
<div class="col-md-3">
<h4>Database</h4>
<p>Managing application data.</p>
<ul>
<li>MongoDB</li>
</ul>
</div>

<div class="col-md-3">
<h4>Tools</h4>
<p>Development and collaboration tools.</p>
<ul>
<li>Git</li>
<li>GitHub</li>
<li>VS Code</li>
</ul>
</div>
            </div>
            <h1 class="text-center mt-5">My Soft Skills</h1>

<p class="text-center mt-3">
Soft skills help me work effectively in teams, communicate ideas clearly, and solve problems efficiently.
</p>

<div class="row mt-4">

<div class="col-md-3">
<ul>
<li>Problem Solving</li>
<li>Critical Thinking</li>
</ul>
</div>

<div class="col-md-3">
<ul>
<li>Communication</li>
<li>Teamwork</li>
</ul>
</div>

<div class="col-md-3">
<ul>
<li>Time Management</li>
<li>Adaptability</li>
</ul>
</div>

<div class="col-md-3">
<ul>
<li>Creativity</li>
<li>Continuous Learning</li>
</ul>
</div>

</div>

        </div>
        <br><br>
        <a href="/project"><button class="btn btn-danger">View Projects</button></a>
    </div>
</body>
